body {
  margin: 25px;
  font-family: "Helvetica";
}

#images {
  text-align: center;
}

#images img {
  max-width: 200px;
  margin: 5px;
}

p {
  font-size: 18px;
}

p.error {
  font-size: 16px;
  text-align: center;
  background-color: #FFB2B2;
  padding: 10px;
  display: none;
}

button {
  font-size: 14px;
}

input {
  width: 300px;
  margin-left: 50px;
}